<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>create data customer</h3>
    <form action="/customers/admin/create" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter name">
        <br>
        <label for="age">Age</label>
        <input type="number" name="age" placeholder="Enter age">
        <br>
        <label for="city">City</label>
        <input type="text" name="city" placeholder="Enter city">
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter email">
        <br>
        <button type="submit">Tambah Data</button>
    </form>
    
    
</body>
</html>